<h1>Hotel Arun Bhavan</h1>


 <img src="../assets/image/512x512bb.jpg" alt="" width="50" height="50">
<h2>Food Category</h2>
<br>
<h3>Veg Meals</h3>

<img src="../assets/image/south-indian-veg-meal-hd-8k-wallpaper-stock-photographic_1064748-21990.jpg" alt="" width="250" height="250">
<p>South Indian vegetarian meals are known for their rich flavors, diverse ingredients, and unique cooking techniques.</p>
<h4>price 220rs</h4>
<a href="https://www.archanaskitchen.com/12-south-indian-vegetarian-curry-recipes-that-you-absolutely-love"> click Here</a>
<br>
<h3>Dosa</h3>
<img src="../assets/image/424fa64229bed9583750f37a0f5ac789.png" alt="" width="250" height="250">
<p>Dosa is a traditional South Indian dish that has been enjoyed for over 2,000 years. 
  It’s a thin, crispy pancake made from a fermented batter of rice and black gram (urad dal). 
  The batter is spread thinly on a hot griddle and cooked until golden brown.</p>
  <a href="https://recipes.timesofindia.com/articles/features/10-types-of-dosa-that-prove-south-indian-food-is-matchless/photostory/65164542.cms"> Click Here</a>
  <h4>price 110rs</h4>